
html, body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.singleProdContainer{
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    overflow: hidden;
    border-radius: 20px;
    
}

.singleProdContainer::before{
    content: '';
    position: absolute;
    display: flex;
    width: 1300px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 20px;
    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);
    animation: animate 4s linear infinite;
}

.singleProdContainer::after{
    content: '';
    position: absolute;
    display: flex;
    width: 1300px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 20px;
    background-image: conic-gradient(transparent, transparent, transparent, #be05ec);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
       }
    100%{
        transform: rotate(360deg);
    }
}


.bkgrnd {
    inset: 5px;
    width: 790px;
    height: 490px;
    border-radius: 18px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

.imgBox {
    position: absolute;
    padding: 800px;
    width: 400px;
    margin: 20px;
    height: min-content;
    padding: 25px;
    background: rgb(34, 34, 34) !important;
    border-radius: 20px;
}

h2, p {
    margin: 0 25px;
    color: rgb(169, 115, 185);
    text-align: center;
    font-size: 2rem;
}

p {
    margin: 0 25px;
    color:white;
    text-align: center;
    font-size: 1rem;
}

.stock{
    color: white;
    font-size: 12px;
}

.card_header{
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 500px;
    margin-top: 120px;
    
}

.price {
    margin-top: 20px;
    color: rgb(169, 115, 185);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    margin-top: 15px;
}





